<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Workouts</ion-title>
    <ion-fab right middle>
      <button ion-fab mini color="secondary" (click)="addWorkout()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <div *ngIf="items.length > 0">  
      <workout-list-item *ngFor="let item of items" [data]="item"></workout-list-item>
  </div>
  <button ion-button secondary (click)="exercisesPage()">Teste Page Button</button>
</ion-content>