<!-- Generated template for the WorkoutListComponent component -->
<ion-card>
    
    <ion-card-header>
        <ion-title>
          {{data.name}}
          <ion-fab middle right>
              <button ion-fab mini icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
              </button>
          </ion-fab>
        </ion-title>
        
    </ion-card-header>
  
    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
  
  </ion-card>
