<ion-header>

  <ion-navbar color="primary">
    <ion-title>createWorkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Workout Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <button (click)="selectExercises()">
      Add Exercises
    </button>
    <ion-list no-lines *ngIf="items">
      <ion-list-header>
        Exercises Selected:
      </ion-list-header>
      <ion-item *ngFor="let item of items">{{item.name}}</ion-item>
    </ion-list >
  </ion-item>
  <ion-fab color="primary" center bottom>
    <button ion-fab (click)="save()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
