
<ion-header>

  <ion-navbar color="primary">
    <ion-title>selectExercises</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group *ngFor="let group of items | groupBy: 'category'">
    <ion-item-divider>{{ getCategory(group.key) }}</ion-item-divider>
    <div ion-item *ngFor="let item of group.list" >
      <ion-label >
          {{ item.name }}
      </ion-label>
      <ion-checkbox color="dark" item-right [(ngModel)]="item.checked"></ion-checkbox>
    </div>
    
  </ion-item-group>
</ion-content>
